.clock {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.clock-face {
  width: 20rem;
  height: 20rem;
  position: relative;
  border: 6px solid #5d5d5d;
  border-radius: 50%;
}

.hand {
  width: 50%;
  height: 6px;
  background-color: #5d5d5d;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
}
